<html>
<div class="po-row">
  <po-widget
    class="po-lg-5 po-mt-3"
    [p-height]="height"
    p-background="../../../assets/images/381_SELO.png"
    [p-primary]="primary"
    [p-no-shadow]=true
    >
  </po-widget>
  <div class="po-row">
    <div class="po-mt-2 po-md-14">
      <label style="font-weight: bold;">FAÇA SEU LOGIN AQUI E CONFIRA OS SERVIÇOS DISPONÍVEIS PARA VOCÊ:</label> 
      <br> 
      <br> 
      <span class="material-icons">
        verified
        </span>
      <label>CONSULTA DE LIMITES DO SEU CADASTRO</label> 
      <br> 
      <span class="material-icons">
        <span class="material-icons">
          date_range
          </span>
        </span>
      <label>CONSULTA DAS SUAS PARCELAS A PAGAR</label>
      <br> 
      <span class="material-icons">
        smartphone
        </span>
      <label>SOLICITAÇÃO DE PAGAMENTO ATRAVÉS DO WHATSAPP</label> 
      <br> 
      <span class="material-icons">
        description
        </span>
      <label>RENEGOCIAÇÃO DE DÍVIDAS ANTIGAS</label>      
    </div>      
  </div>  
</div>
<br>
<div class="po-row">
  <form [formGroup]="reactiveForm">
    <div class="po-row">
      <po-input class="po-md-10" [(ngModel)]="login" formControlName="login" p-clean p-icon="po-icon-user" p-placeholder="CPF" p-mask="999.999.999-99"> </po-input>
    </div>
    <div class="po-row">
      <po-datepicker class="po-md-10" [(ngModel)]="birthday" formControlName="birthday" p-placeholder="Data de Nascimento" > </po-datepicker>
    </div>    
    <div class="po-row">
      <po-button p-icon="po-icon-user" class="po-md-10" p-label="Login" (p-click)="loginCustomer()" [p-disabled]="!reactiveForm.valid"> </po-button>
    </div>
  </form>
</div>
</html>