html {
  background-color: rgb(255, 204, 0);
  width: 100%;
  height: 100%;
}

.inner {
  display: block;
  align-items: center;
  margin-left: 40%;
  margin-top: 10%;
}

.login
 {
  margin-top: 5%;
  padding-left:  30%;
  display: block;
  position: inherit;
 }
