<div class="po-row" style="background-color:rgb(255, 204, 0)">

    <po-widget
    class="po-lg-6 po-mt-2"
    [p-height]="height"
    p-background="../../../assets/images/381_SELO.png"
    [p-primary]="primary"
    >
    </po-widget>

</div>
<div class="po-row" >
  <form class="po-lg-6 po-mt-2" [formGroup]="reactiveForm">
    <div class="po-row">
      <po-input  [(ngModel)]="login" formControlName="login" p-clean p-icon="po-icon-user" p-placeholder="CPF" p-mask="999.999.999-99"> </po-input>
    </div>
    <div class="po-row">
      <po-datepicker [(ngModel)]="birthday" formControlName="birthday" p-placeholder="Data de Nascimento" > </po-datepicker>
    </div>
    <div class="po-row">
      <po-button  p-label="Login" (p-click)="loginCustomer()" [p-disabled]="!reactiveForm.valid"> </po-button>
    </div>

  </form>
</div>


<!-- <div class="login">
  <po-widget
  class="po-lg-6 po-mt-2"
  [p-height]="height"
  p-background="../../../assets/images/381_SELO.png"
  [p-primary]="primary"
  >
  </po-widget>
  <div >
    <form [formGroup]="reactiveForm">
      <div >
        <div class="po-row">
          <po-input class="po-sm-6" [(ngModel)]="login" formControlName="login" p-clean p-icon="po-icon-user" p-placeholder="CPF" p-mask="999.999.999-99"> </po-input>
        </div>
        <div class="po-row">
          <po-datepicker class="po-sm-6" [(ngModel)]="birthday" formControlName="birthday" p-placeholder="Data de Nascimento" > </po-datepicker>
        </div>
        <po-button class="po-sm-6" p-label="Login" (p-click)="loginCustomer()" [p-disabled]="!reactiveForm.valid"> </po-button>
      </div>
    </form>
  </div>
</div> -->
