html {
  background-color: rgb(255, 204, 0);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.logoMega {  
  max-width: 1080px;   /* Máximo da largura da imagem */
  width: 50%;
  max-height: 500px;  /* Máximo da altura da imagem */
  min-height: auto;      /* Mínimo da altura, por padrão “auto” */
  background-size:100%;
  background-repeat: no-repeat;
  padding-left: 2%;
}