<html>
<div>
  <div>
    <div>MegaModas</div>
    <div>
      <po-button
       p-icon="po-icon po-icon-exit"
       p-label="Sair"
       (p-click)="exit()"
     ></po-button>
   </div>
    <div>
      <div>
        <po-gauge
          [p-title]="welcomeCustomer"
          [p-value]="limiteUsado"
          [p-description]="description"
          [p-ranges]="limitRanges"
        ></po-gauge>
      </div>
    </div>
    <div style="margin-top: 1%;">
      <div>
        <po-button
          p-icon="po-icon po-icon-notification"
          p-label="Vencimento"
          (p-click)="getBonds()"
          [p-disabled]="disableAction"
        ></po-button>
        <div *ngIf="customerAlign">
          <po-button
          p-icon="po-icon po-icon-credit-payment"
          p-label="Ultima Compra"
          (p-click)="getPurchases()"
          [p-disabled]="disableAction"
        ></po-button>
        </div>
      </div>
    </div>
  </div>
  <div >
    <app-bonds  *ngIf="!disableAction" [bonds]="bondsLoaded" [customer]="customer"></app-bonds>
    <app-purchases *ngIf="customerAlign" [purchases]="purchasesLoaded"></app-purchases>
  </div>
</div>
</html>
