<div class="po-wrapper">
    <div class="po-font-title po-mb-3">Mega Modas</div>
    <div class="po-row">
      <div class="po-md-3">
        <po-gauge
          p-title="Limite de Compra do Cliente"
          [p-value]="limiteUsado"
          [p-description]="description"
          [p-ranges]="limitRanges"
        ></po-gauge>
      </div>
    </div>
    <div class="po-row">
      <po-divider
          p-label="Informacoes de Compra" >
      </po-divider>
    </div>
    <div class="po-row">
      <div class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
        <po-button
          class="po-md-4"
          p-icon="po-icon po-icon-notification"
          p-label="Vencimento"
          (p-click)="getBonds()"
          [p-disabled]="disableAction"
        ></po-button>
        <po-button
          class="po-md-4"
          p-icon="po-icon po-icon-credit-payment"
          p-label="Ultima Compra"
          (p-click)="getPurchases()"
          [p-disabled]="disableAction"
        ></po-button>
      </div>
    </div>
</div>
<po-container class="po-md-4">
  <app-bonds *ngIf="showBonds" [bonds]="bondsLoaded"></app-bonds>
  <app-purchases *ngIf="showPurchases" [purchases]="purchasesLoaded"></app-purchases>
</po-container>
