<po-page-list p-title="Dados do Cliente">
  <po-list-view
    [p-hide-select-all]="hide"
    [p-select]="hide"
    p-property-link="url"
    p-property-title="name"
    [p-actions]="actions"
    [p-items]="purchasesLocal"
  >
    <ng-template p-list-view-content-template let-bond [p-title]="formatTitle">
      <div class="po-row">
        <po-info class="po-lg-4" p-label="Valor" [p-value]="bond.Valor"></po-info>

        <po-info class="po-lg-4" p-label="Status" p-value="Nao Pago"></po-info>

        <po-info class="po-lg-4" p-label="Prefixo" [p-value]="bond.Prefixo"></po-info>
      </div>
    </ng-template>

    <ng-template p-list-view-detail-template let-bond [p-show-detail]="showDetail">
      <div class="po-row">
        <po-info class="po-md-6" p-label="Vencimento" [p-value]="bond.Vencimento"></po-info>

        <po-info class="po-md-6" p-label="Parcela" [p-value]="bond.Parcela"></po-info>
      </div>
    </ng-template>
  </po-list-view>
</po-page-list>
