/* You can add global styles to this file, and also import other style files */
po-button {
    --color-button-color: white;
    --color-button-background-color: rgb(37, 211, 102);
    --color-button-border: white;
  
    --color-button-background-color-disabled: rgb(212, 218, 219);
    --color-button-color-disabled: white;
  }

po-gauge {
  --color-gauge-legend-scrollbar: white;
}

po-page-content {
  --color-page-content-background-color-scrollbar: black;
  }

.po-gauge-legend-text {
  font-size: 18px;
}

.po-gauge-description-upper-text {
  font-size: 18px;
}